# PADRING configuration file
# with SKY130 PDK
#


# Set the design name
DESIGN padring_sky130;

# Define the total chip area in microns
AREA 1200 1200; 

# Placement grid size in microns
GRID 1;

# Place the corners
# CORNER <instance name> <location> <cell name> ;

CORNER CORNER_1 NW sky130_ef_io__corner_pad ;
CORNER CORNER_2 NE sky130_ef_io__corner_pad ;
CORNER CORNER_3 SW sky130_ef_io__corner_pad ;
CORNER CORNER_4 SE sky130_ef_io__corner_pad ;

# Define the north edge of the pad ring
# PAD <instance name> <location> [FLIP] <cell name> ;
#
# SPACE <microns> : use fixed space between preceding and succeeding cell.
#

# north side is occupied by an 8-bit bus control interface
PAD GPIO[0] N sky130_ef_io__gpiov2_pad ;
PAD GPIO[1] N sky130_ef_io__gpiov2_pad ;
PAD GPIO[2] N sky130_ef_io__gpiov2_pad ;
PAD GPIO[3] N sky130_ef_io__gpiov2_pad ;
PAD GPIO[4] N sky130_ef_io__gpiov2_pad ; # flipped in the y axis
PAD GPIO[5] N sky130_ef_io__gpiov2_pad ; # flipped in the y axis
PAD GPIO[6] N sky130_ef_io__gpiov2_pad ; # flipped in the y axis
PAD GPIO[7] N sky130_ef_io__gpiov2_pad ; # flipped in the y axis

# Define the south edge of the pad ring
# which has the clock, reset, SPI and UART

PAD CLK   S sky130_ef_io__gpiov2_pad ;
PAD RESET S sky130_ef_io__gpiov2_pad ;
PAD MISO  S sky130_ef_io__gpiov2_pad ;
PAD MOSI  S sky130_ef_io__gpiov2_pad ;
PAD SCK   S sky130_ef_io__gpiov2_pad ;
PAD SPI_CS_N S sky130_ef_io__gpiov2_pad ;
PAD UART_TX S sky130_ef_io__gpiov2_pad ;
PAD UART_RX S sky130_ef_io__gpiov2_pad ;

# Define the east edge of the pad ring
# Power and some PWM pins

PAD PWM_1 E sky130_ef_io__gpiov2_pad;
PAD PWM_2 E sky130_ef_io__gpiov2_pad; 
PAD VDD_1 E sky130_ef_io__vdda_hvc_pad;
SPACE 0 ;               # force the space between VDD_1 and GND_1 to zero.
PAD GND_1 E sky130_ef_io__vssa_hvc_pad;
PAD PWM_3 E sky130_ef_io__gpiov2_pad;
PAD PWM_4 E sky130_ef_io__gpiov2_pad;

# Define the west edge of the pad ring
# DAC outputs and power.
PAD DAC_0 W sky130_ef_io__gpiov2_pad;
PAD DAC_1 W sky130_ef_io__gpiov2_pad; 
PAD VDD_2 W sky130_ef_io__vdda_hvc_pad;
SPACE 0 ;               # force the space between VDD_2 and GND_2 to zero.
PAD GND_2 W sky130_ef_io__vssa_hvc_pad;
PAD DAC_2 W sky130_ef_io__gpiov2_pad;
PAD DAC_3 W sky130_ef_io__gpiov2_pad;
